PRIVATE_KEY=0x_your_private_key_here
BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ARB_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
OP_SEPOLIA_RPC_URL=https://sepolia.optimism.io
